<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html::head">
    <style>
        body {
            padding-bottom: 120px;
            width: 100%;
            max-width: 1000px;
            margin-left: 100px;
            margin-right: 100px;
        }

        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 114px;
        }
    </style>
</head>

<body>

<nav th:replace="fragments/header.html::navbar">
</nav>

&nbsp;

<div class="container">
    <h1 th:align="center">Я буду дарить</h1>
</div>

&nbsp;

<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
        <div class="card">
            <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                    перехода к дополнительному контенту. Этот контент немного длиннее.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                    перехода к дополнительному контенту. Этот контент немного длиннее.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                    перехода к дополнительному контенту.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                 class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                    перехода к дополнительному контенту. Этот контент немного длиннее.</p>
            </div>
        </div>
    </div>
</div>
</div>

&nbsp;

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
            <div class="card">
                <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://c.dns-shop.ru/thumb/st4/fit/760/600/af8aed3bddc7a16a4c0d111ca57fc376/q93_76d3fa0e087e82afad7eb57045441adcd1f2860833e27e918df1a3f087995020.jpg"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://gb.ru/"> GeekBrains</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>