<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html::head">
</head>

<body>

<nav th:replace="fragments/header.html::navbar">
</nav>

&#xA0;

<div class="container">
    <h1 th:align="center">Я буду дарить</h1>
</div>

&#xA0;

<div class="container">
    <span th:if="${gifts.size() == 0}">Список подарков пуст</span>
    <div th:unless="${gifts.size() == 0}">

        <div class="card mb-3" th:each="gift, i : ${gifts}" th:align="center">
            <img class="card-img-top" th:src="@{/img/gift.svg}" alt="Card image cap"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${gift.getTitle()}"></h5>
                <p class="card-text" th:text="${gift.getDescription()}"></p>

                <form method="post"
                      role="form"
                      th:action="@{/lk/delete-give}">

                    <input type="hidden" name="title" id="title" th:value="${gift.title}"/>
                    <input type="hidden" name="description" id="description" th:value="${gift.description}"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>

            </div>
        </div>
        &#xA0;
    </div>
</div>

<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://gb.ru/"> GeekBrains</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>