<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html::head">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

<nav th:replace="fragments/header.html::navbar">
</nav>

&#xA0;

<div class="container">
    <h1 th:align="center">Я хочу</h1>
</div>

&#xA0;

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
    </div>

    &#xA0;

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.freelance.ru/img/portfolio/pics/00/34/B1/3453404.jpg?mt=09071fa1"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного
                        перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <th:block th:replace="fragments/footer.html::footer">
    </th:block>
</footer>
</html>